@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
    body{
        height: 100%;
        margin: 0;
        background: #116e99;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #116e99, #1f1199);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #116e99, #1f1199);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: url(/image/droplet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        font-family: 'Montserrat', sans-serif;
    }
    .center{
        text-align: center;
    }
    .user-card{
        width:50%;
        background: #116e99;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #116e99, #1f1199);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #116e99, #1f1199);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color:#fff;
        border:2px solid #fff;
        margin:10px auto;
    }
    div{
        text-align: center;
    }
    h1,h2{
        color:#fff;
        text-align: center;
    }
    .upcard{
        background-color:#0dcaf0;
    }
    a{
        text-decoration: none;
    }
    .icon{
        height: 80px;
        width: 80px;
        margin:0 auto;
    }