
<link rel="stylesheet" href="/style/navbar.css">
<nav class="navbar navbar-expand-lg mb-3" id="navbar1">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bookomania</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-link anchor-nav" aria-current="page" href="/cg">HOME</a>
        <a class="nav-link anchor-nav" href="/cg/new">NEW</a>
        <a class="nav-link anchor-nav" href="/cg/map">MAP</a>
      </div>
      <div class="navbar-nav">
        <% if(!currentUser){ %>
          <a class="nav-link anchor-nav" href="/login">Login</a>
          <a class="nav-link anchor-nav" href="/register">Register</a>
        <% } else { %>
          <a class="nav-link anchor-nav" href="/logout">Logout</a>
        <% }%>
      </div>
    </div>
  </div>
</nav>