<%- include("partials/header") -%> 

<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<h1>add hotel form</h1>
<form action="/addHotel" method="POST">
    <div>
        <label for="hotelName">hotelName</label>
        <input type="text" name="hotelName" id="hotelName">
    </div>
    <div>
        <label for="hotelLocation">hotelLocation</label>
        <input type="text" name="hotelLocation" id="hotelLocation">
    </div>
    <button>submit</button>
</form>

<%- include("partials/footer") -%> 