<h1>Auth</h1>
<form action="/auth" method="POST">
  <div>
    <label for='name'>name =</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for='password' >password = </label>
    <input type="password" name="password" id="password" />
  </div>
  <button>submit</button>
</form>


<h3>PATCH REQUEST</h3>
<form  method="POST" action="/auth?_method=PATCH">
  <div>
    <label for='name'>name =</label>
    <input type="text" name="name" id="name" />
  </div>
  <button>submit</button>
</form>

