<h1>hello chat</h1>
<div>
  <% for ( a of all_message){ %>
  <h6>username : <%= a.name %> <%= a.message %></h6>
  <% } %>
</div>

<form method="POST" action="/chat?_method=PUT">
  <label for="name">name:</label>
  <input type="text" name="name" id="name" />
  <label for="message">Message:</label>
  <input type="text" name="message" id="message" />
  <button>submit</button>
</form>
