<%- include("partials/header") -%> 

<h1>HOME</h1>

<a href="/logout">logout</a>
<br>

<a href="/register"> register</a>
<a href="/login"> login</a>
<a href="/me"> me</a>

<br>
<a href="/auth">auth</a>
<a href="/hotels">hotels</a>

<%- include("partials/footer") -%> 
