<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/style/login-signup.css">
</head>
<body>

<div class="container-main" id="container">
    <div class="form-container sign-up-container">
		<form action="/register" method="POST" class="needs-validation" novalidate>
			<h1>Sign UP</h1>
            
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
            <div>
                <label for="username">Username</label>
                <div class="input-group has-validation">
                  <input type="text" name="username" class="form-control" aria-describedby="inputGroupPrepend" required>
                  <div class="valid-feedback">
                      Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please choose a username.
                  </div>
                </div>
            </div>
            
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a valid email.
                </div>
            </div>
            
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a password.
                </div>
            </div>
            <button>register</button>
            <button><a href="/hotel">back</a></button>
		</form>
	</div>
    
	<div class="form-container sign-in-container">
        <form action="/login" method="POST" class="needs-validation" novalidate>
			<h1>Sign in</h1>
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" aria-describedby="inputGroupPrepend" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a password.
                    </div>
                </div>
            <button>login</button>
            <button><a href="/hotel">back</a></button>
        </form>
        
    </div>

	<div class="overlay-container">
		<div class="overlay">
            <div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div> 

<script src="/scripts/form_validate.js" ></script>
<script src="/scripts/login-signup.js" ></script>