#navbar1{
  background: #F7971E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    color: #ff304f;
}

#navlink1{
  color: #ff304f;
}

.navbar-toggler-icon{
  background-image:url(/image/toggle-icon.svg) ;
}

.anchor-nav{
    color: #18181a;
}

.footer-padding {
  padding-bottom: 2rem;
}

.bgcolor{
background-color:#ffb555;
}

.footer {
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.footer p {
  margin: 10px 0;
}

.footer i {
  color: red;
}

.footer a {
  color: #3c97bf;
  text-decoration: none;
}

.contact-icon{
  margin:2% 1%;
  cursor:pointer;
  transition:1s;
}

.contact-icon:hover{
  width:2rem;
  height:2rem;
}